.container
  .content
    .row
      .span5
        .hero-unit
          = image_tag "apt6_logo.png", :id => 'logo'
          %h1 Alec Hoey
          %br
          %h3 Software engineer
          %h3 Web developer and designer
          %h3 apt6 team lead
      .span7
        %h1.tagline I design and build useful products to solve everyday problems
    
        %p
          My name is Alec. I'm a junior at UC Berkeley majoring in Electrical Engineering and Computer Science.
          I'm a hacker at heart and love <em>learning new things</em> related to computer science and 
          <em>doing cool things</em> with that knowledge.
          Read about a few of my many projects
          = link_to 'here.', projects_path
      
        %p
          I particularly enjoy web programming and you'll find that the majority of my experience lies there.
          I deal primarily in Ruby on Rails, but have also dealt with Django.
          Some of the things I have built on top of Rails include multiple table inheritance,
          API integration, heavy front-end jQuery work, complex model callbacks, AJAX services,
          and secure user authentication in addition to the normal Rails MVC stack.
          I also hope to one day experiment with Meteor, Flask, Node.js, Backbone.js, and Ember.js.
      
        %p
          In addition to web programming, I'm also interested in the field of artificial intelligence and machine learning.
          When my other projects begin to scale, I have plans to add better recommendation algorithms and data munging make use of both these interests.
          I also took a course in Artificial Intelligence at Berkeley, which I greatly enjoyed and in which I wrote some search, game, learning, 
          and probabilistic algorithms in Python for Pacman. Feel free to browse them at
          = link_to 'my github.', 'http://github.com/alechoey'
      
.photo-banner
  .container
    = image_tag 'alec_albert_gerald.jpeg'
      
.container
  .content
    .row
      .span12
        %p
          In addition to coding, I have an equal passion for design. I take care to design my sites to be not only functional,
          but also stylish, intuitive, and uncluttered. I do all of my styling by hand and even do all of the Illustrator and Photoshop myself too.
          Make sure to check out my
          = link_to 'projects', projects_path
          to get a sense of what I've done. Some of these things include all of the design and front-end for my existing projects,
          including a jQuery calculator that was draggable, remembered where you put it relative to the browser window,
          and interacted with page elements.
          In the near future, I want to build a really rich user experience with lots of interactive elements, including a guided tour of a product
          Javascript popovers, knobs or sliders, and switches.
                    
        %p.flush-bottom
          Some other curious projects I eventually want to undertake include:
        %ul
          %li A web crawler with a machine learning classifier to aggregate data from multiple data sources and eventually use this data for the WSWE restaurant database.
          %li 
            Some statistical analyses to take advantage of pypy's numerical computing strengths, including multithreading abilities.
            This could perhaps be a an offline analysis of some some project data like recommendation performance or restaurant performance.
          %li
            Build a wireless media server, network attached storage, and wireless audio bridge with an ODroidX running Ubuntu server.
          %li
            Learn Scala and computer vision. Do something useful with it, whatever it may be.
            
.photo-banner
  .container
    = image_tag 'karahi_beef.jpeg'
    
.container
  .content
    .row
      .span12
        %p
          Enough about coding. I like to have a life too. I love cooking. I enjoy grilling copious amounts of meat and woking 
          (cooking with a traditional Chinese wok). If you get a chance, come by to enjoy some good steak, burgers, or
          stir fry, or even a good omelet. If I could have any retirement job, I would open my own restaurant. I've also recently 
          gotten into photography and enjoy both landscape and portraiture shots. I also enjoy playing sports, namely soccer and basketball. 
          
        %p
          I spend a lot of time with my roommates, who are in the same Christian fellowship as me. We like to play basketball together, eat lots of
          meat, eat late-night omelets, watch Lord of the Rings, and laugh a lot together. I think you'll find that I'm not just someone who is 
          obsessed with coding, but a real person with a real life, real interests, real friends, and someone who is actually fun to hang out with. 