.container
  .content
    .row
      .span5
        .hero-unit
          %h1 Alec Hoey
          %h3 Software engineer
          %h4 machine learning specialist
          %h4 and web developer
      .span7
        %h2.tagline I believe in a web that empowers people
    
        %p
          My name is Alec. I'm a graduating senior at UC Berkeley majoring in Electrical Engineering and Computer Science.
          I'm a hacker at heart and learning and building cool things.
          Read about a few of my many projects
          = link_to 'here.', projects_path
      
        %p
          I specialize in machine learning, big data/data analytics, and web programming. I've done work ranging from implementing machine learning algorithms, feature selection, and parameter tuning to massive-scale MapReduce pipelines for data aggregation and analysis. I've also done extensive work with Ruby on Rails and the full web stack, modeling complex multi-table polymorphic associations all the way to front-end jQuery work.
      
.photo-banner
  .container
    = image_tag 'alec_albert_gerald.jpeg'
      
.container
  .content
    .row
      .span12
        %p
          Outside of work, I'm an active in
          = link_to 'Koinonia Christian Fellowship', 'http://www.koinonia.net/berkeley/k2/'
          and 
          = link_to 'Gracepoint Berkeley Church.', 'http://www.gracepointonline.org/'
          I also spend a lot of time reading, learning and practicing photography. Follow me on
          = link_to 'flickr.', 'http://www.flickr.com/photos/80479454@N05/'